{% extends "layouts/base.html" %}

{% block content %}
<article class="entity-detail">
    <header class="entity-header">
        <h1>{{ entity.text[lang].name }}</h1>
        <div class="meta">
            <span class="badge">{{ entity.type }}</span>
            <span class="badge secondary">{{ entity.group }}</span>
        </div>
    </header>

    <div class="entity-body">
        <figure class="main-image">
            <img src="{{ entity.image_url }}" alt="{{ entity.media.alt[lang]|default(entity.text[lang].name) }}">
        </figure>

        <div class="content">
            <div class="intro">
                {{ entity.text[lang].short_description }}
            </div>
            <div class="long-description">
                {{ entity.text[lang].description_long | safe }}
            </div>
        </div>
    </div>

    {% if related_entities %}
    <section class="related">
        <h2>Related</h2>
        <div class="grid">
            {% for entity in related_entities %}
            {% include "components/molecules/card_entity.html" %}
            {% endfor %}
        </div>
    </section>
    {% endif %}
</article>
{% endblock %}